<div class="card">
                <div class="card-header bg-dark">
                    <h5>Why MVC is so important</h5>
                    <p class="blockquote-footer float-right blog">
                        Posted by <cite title="Source Title">Xandromus</cite> on
                        <span> 5/8/20 </span>
                    </p>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            MVC Allows develpers to maintain a tru seperation of
                            concerns, devising their code between the Model
                            layer for data, the View layer for design, and the
                            Controlle layer for application logic.
                        </p>
                    </blockquote>
                </div>
            </div>